parameters:
	ignoreErrors:
		-
			message: "#^Method Uxmp\\\\Core\\\\Orm\\\\Repository\\\\PlaybackHistoryRepository\\:\\:getMostPlayed\\(\\) should return iterable\\<array\\{cnt\\: int, song_id\\: int\\}\\> but returns array\\<array\\{cnt\\: int\\<0, max\\>\\|numeric\\-string, song_id\\: int\\}\\>\\.$#"
			count: 1
			path: src/Orm/Repository/PlaybackHistoryRepository.php

