parameters:
	level: 8
	paths:
		- src
	ignoreErrors:
		- '#Property Uxmp\\Core\\Orm\\Model\\(\w+)::\$(\w+) is unused#'
		- '#Property Uxmp\\Core\\Orm\\Model\\(\w+)::\$id is never written, only read#'

includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- phpstan-baseline.neon
